<!DOCTYPE html>
{% extends "base.html" %}
  {% block body_block %}

    {% load static %}
    <div class='jumbotron'>
    <img class="thumbnail" src="{% static daily_image.image_path.url %}" alt="failed to find" height=100% width=100% padding-bottom=10px>
    {% if daily_image.votable %}
    <div class="">
      <button type="button" class="btn btn-default btn-lg likebutton">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      </button>
      <span id='likemessage'>
      {% if daily_image.up_votes == 0 %}
        No likes yet. Be the first to like it! </p>
      {% else %}
        {{daily_image.up_votes}} like(s)
      {% endif %}
    </span>
    </div>
    {% endif %}
    <script type="text/javascript">
      var hasLiked = false
      // var likebutton = document.getElementByClass('likebutton');
      // var likemessage = document.getElementByClass('likemessage');
      $(".likebutton").click(function(){
        var upvotes = {{daily_image.up_votes}}
        $(this).children().toggleClass("glyphicon-thumbs-down")
        if(!hasLiked){
          $('#likemessage').text(upvotes + 1 + ' like(s)')
          hasLiked = true
          }
        else {
          $('#likemessage').text(upvotes + ' like(s)')
          hasLiked = false
        }
        $.ajax({
          url: "{% url 'goat_app:goat_vote' %}",
          data: {'hasLiked': hasLiked ? 1:0, 'id': "{{ daily_image.id }}"},
          dataType: 'json',
          success: function () {
          }
        });
      })
    </script>
    </div>
  {% endblock %}
