<!DOCTYPE html>
{% extends "goat_app/base.html" %}
  {% block body_block %}
  <div class="jumbotron">
    <h1>Hello, world (of goats)!</h1>
    <p>Welcome to my wonderful world of goats. This website is an
      opportunity for me to practice using django with bootstrap,
      whilst also sharing with the world some joy through the medium of goats.</p>
      <p>I'd like to invite you to sign up below for my newsletter which provides you with a gotd (goat of the day) every day.</p>
      <p>Enjoy :)</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
  {% endblock %}
