<!-- The modal -->
<div class="modal fade" id="subscriptionModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
          <h4 class="modal-title" id="modalLabelSmall">Subscribe here for daily goat photos</h4>
      </div>
      </script>
      <div class="modal-body">
        <form method="post" data-validate-email-url="{% url 'goat_app:validate_email' %}" id="submit_subscription">
          {% csrf_token %}
          <!-- check form without reload https://simpleisbetterthancomplex.com/tutorial/2016/08/29/how-to-work-with-ajax-request-with-django.html -->
            {{ form.as_p }}
            <!-- <span id="emailError" style="display: none;">You can only use alphabetic characters, hyphens and apostrophes</span> -->
            <!-- this approach looks better https://www.abidibo.net/blog/2015/11/18/modal-django-forms-bootstrap-4/ -->
            <p id='subcription_result'></p>
        <input type="submit" value="Submit" id='submit_button' />
      </form>

      <script>
        $('#subscriptionModal').on('shown.bs.modal', function() {
          $('#id_email').focus();
        })

        $("#submit_subscription").submit(function (e) {
          e.preventDefault();
          // console.log(email);
          var form = $("#id_email").closest("form");
          $.ajax({
            url: form.attr("data-validate-email-url"),
            data: form.serialize(),
            dataType: 'json',
            success: function (data) {
              if (data.is_taken) {
                var email = document.getElementById('id_email');
                var submit = document.getElementById('submit_button')
                email.setCustomValidity('This email is already taken');
                document.querySelector('#submit_subscription').reportValidity();
              }else if (data.interest_error) {
                var interest = document.getElementById('id_interest');
                interest.setCustomValidity(data.interest_error);
              }else{
                var email = document.getElementById('id_email');
                var interest = document.getElementById('id_interest');
                $('subscribe_submit').click()
                email.setCustomValidity('');
                interest.setCustomValidity('');
                $("#id_email").css("border", "green");
                $("#id_email").css("box-shadow", "0 0 10px green");
                $('#id_email').prop('disabled', true)
                $('#submit_button').val('Submitting...')
                $('#submit_button').prop('disabled', true)
                $('#subscribe_modal').attr('href', '#')
                $('#subscribe_modal').text('Thanks for subscribing')
                $('#subscribe_modal').removeAttr('data-target')
                setTimeout(function() {
                    $('#subscriptionModal').modal('hide');
                }, 800);
              }
            }
          });
          // form.click();
        });
        // required to remove the customvalidation error when user is changing input
        $("#id_email").keydown(function () {
          this.setCustomValidity('');
        });
        </script>
      </div>
    </div>
  </div>
</div>
